<section class="product-table-wrapper">
  <table class="product-table" role="grid" aria-describedby="Produktliste">
    <thead>
      <tr>
        <th>Produkt</th>
        <th>Beschreibung</th>
        <th>Bestand</th>
        <th>Preis(€)</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      @for (product of list; track product.name; let i = $index) {
      <tr role="link" [routerLink]="['detail', product.name]">
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td><span class="badge ok">{{ product.stock }}</span></td>
        <td class="price">@switch (true) {
          @case (product.price > 100000) {
          {{ product.price / 100000 }}mio
          }
          @case (product.price > 1000) {
          {{ product.price / 1000 }}k
          }
          @default {
          {{ product.price }}
          }
          }</td>
        <td><a class="btn--view" aria-label="Details anzeigen"></a></td>
      </tr>
      } @empty {
      <tr>
        <td colspan="5">Keine Produkte gefunden.</td>
      </tr>
      }
    </tbody>
  </table>
</section>
